 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                I am a PhD student in Computer Science and Engineering at the <b>University of Bologna<\b> supervised by professor Luigi Di Stefano.
                Actually I am also a Research Intern at <b>Google Zurich<\b>. My research themes are Computer Vision and Deep Learning.
                My expertise focus on Visual Perception, Domain Adaptation and Computer Graphics.
            </div>
        </div>
    </section>
